<!-- should define tplPath in app configuration file -->
<!--酒店模板-->
<template name="wl_mobilewebsite_template12">
	<description>
		<![CDATA[此处放置模板的说明，包括适用性、可定制内容等等。]]>
	</description>
	<configuration>
		<!--
		说明在后台管理中，当前模板的可配置项：
		设置步骤和配置向导的步骤对应；
		-->
		<steps>
			<step name="slide" title="幻灯片">
				<description>
					<![CDATA[1.	设置幻灯片，最多可上传5张。建议尺寸（640 x 380像素）。<br/>2.	链接地址以http://开头。]]>
				</description>
				<view>
					<fieldSet fsTitle="幻灯片列表" maxRepeats="5" sortable="true" templateId="fieldSet_fieldsContainer">
						<field templateId="formGroup_image" name="imageUrl"/>
						<field templateId="actionButtons_edit_delete" />
					</fieldSet>
				</view>
				<edit>
					<fieldSet fsTitle="编辑幻灯片" sortable="false" templateId="fieldSet_fieldsContainer">
						 <field templateId="formGroup_textInput_fileUploadButton" name="imageUrl" label="幻灯片图片"/>
						<field templateId="formGroup_textInput" name="title" label="标题" placeholder="可选，不超过20个字" validation='{"maxlength":"20"}' validationMsg='{"maxlength":"不能超过20个字"}' />
						<field templateId="formGroup_textInput_button_colorpicker" name="color" label="前景色" placeholder="请选择颜色" actionTitle="选择颜色" actionValue="browseColor" validation="required"/>
						<field templateId="formGroup_textInput" name="targetUrl" label="链接" placeholder="可选" validation='{"url":true}' validationMsg='{"url":"请输入http://开头的链接格式"}' />
						<field templateId="actionButtons_save_return" />
					</fieldSet>
				</edit>
			</step>
			<step name="category" title="分类">
				<description>
					<![CDATA[1.	分类栏目管理。<br/>2.分类模块支持背景图和背景色调整,模板布局显示如果是背景色，则会优先支持背景色。如果是背景图片，则会优先支持背景图片<br/>3. 链接地址以http://开头。<br/>4.最多支持13个分类项，如需要支持更多分类项，请Q客服。]]>
				</description>
				<view>
					<fieldSet fsTitle="首页分类设置" maxRepeats="7" sortable="true" templateId="fieldSet_fieldsContainer">
						<field templateId="formGroup_label_text" label="标题：" name="title"/>
						<field templateId="formGroup_label_text" label="简介：" name="desc"/>
						<field templateId="actionButtons_edit_delete" />
					</fieldSet>
				</view>
				<edit>
					<fieldSet fsTitle="编辑分类" maxRepeats="1" sortable="false" templateId="fieldSet_fieldsContainer">
						<field templateId="formGroup_textInput" name="title" label="标题" placeholder="必填，不超过6个字" validation='{"required":true,"maxlength":"6"}' validationMsg='{"required":"请输入标题","maxlength":"不能超过6个字"}'/>
						<field templateId="formGroup_textInput" name="desc" label="简介" placeholder="可选，不超过20个字" validation='{"maxlength":"20"}' validationMsg='{"maxlength":"不能超过20个字"}' />
						 <field templateId="formGroup_textInput_fileUploadButton" name="imageUrl" label="封面图片"/>
						<field templateId="formGroup_textInput_button_dialog" name="iconClass" label="图标" disabled="disabled" placeholder="请选择图标" actionTitle="浏览图标" actionValue="browseIcon" />
						<field templateId="formGroup_textInput_button_colorpicker" name="bgColor" label="背景色" placeholder="请选择颜色" actionTitle="选择颜色" actionValue="browseColor" validation="required"/>
						<field templateId="formGroup_textInput_button_colorpicker" name="color" label="前景色" placeholder="请选择颜色" actionTitle="选择颜色" actionValue="browseColor" validation="required"/>
						<field templateId="formGroup_textInput_button_material" name="targetUrl" label="链接" placeholder="必填" actionTitle="选择链接目标" actionValue="sit" validation='{"required":true, "url":true}' validationMsg='{"required":"请输入链接或选择目标", "url":"链接地址以http://开头"}' />
						<field templateId="actionButtons_save_return" />
					</fieldSet>
				</edit>
			</step>
			<step name="footer" title="其它">
				<description>
					<![CDATA[1.设置页脚版权信息、快捷拨号。<br/>2.请输入正确的电话号码，确保拨号功能正常。 ]]>
				</description>
				<view>
					<fieldSet fsTitle="页脚设置" maxRepeats="1" sortable="false" templateId="fieldSet_fieldsContainer">
						<field templateId="formGroup_label_text" label="版权信息：" name="siteDesc"/>
						<field templateId="formElement_line" />
						<field templateId="formGroup_label_text" label="快捷拨号：" name="dail"/>
						<field templateId="actionButtons_edit_delete" />
					</fieldSet>
				</view>
				<edit>
					<fieldSet fsTitle="编辑页脚" maxRepeats="1" sortable="false" templateId="fieldSet_fieldsContainer">
						<field templateId="formGroup_textInput" name="siteDesc" label="版权信息" placeholder="可选，不超过20个字" validation='{"maxlength":"20"}' validationMsg='{"maxlength":"不能超过20个字"}' />
						<field templateId="formElement_line" />
						<field templateId="formGroup_textInput" name="dail" label="快捷拨号" placeholder="必填" validation="required" validationMsg='{"required":"请输入电话号码"}' />
						<field templateId="actionButtons_save_return" />
					</fieldSet>
				</edit>
			</step>
			</steps>
	</configuration>
</template>