<li class="thumbnail_AL_Audio" data-template-bind='[{"attribute":"id", "value":"id"}]'>
    <a href="#" data-operation="select" name="aSelect">
    <div class="row">
        <div class="col-md-12"  data-content="fileName"></div>
        <br/>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <span data-content="memo"></span>
        </div>
    </div>
    <div class="text">
        <div class="inner hidden">
            <i class="icon-check icon-2x"></i>
        </div>
    </div> </a>
</li>