<li class="thumbnail_AL_Audio" data-template-bind='[{"attribute":"id", "value":"id"}]'>
    <div class="row">
        <div class="col-md-8"  data-content="fileName"></div>
        <div class="col-md-4" >
            <a href="#" class="aPlayAudio" name="aPlayAudio" data-template-bind='[{"attribute":"url", "value":"url"}]'> <i class="icon-play icon-2x"></i> </a>
        </div>
        <br/>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <span data-content="memo"></span>
        </div>
    </div>
    <div class="tools tools-bottom">
        <a href="#" name="aEditAudio" class="col-md-6"> <i class="icon-pencil bigger-110"></i> </a>
        <a href="#"  name="aDeleteAudio" data-template-bind='[{"attribute":"url", "value":"url"}]' class="col-md-6"> <i class="icon-remove bigger-110"></i> </a>
    </div>
</li>