<li name="materialItem" class="thumbnail_GM" data-template-bind='[{"attribute":"id", "value":"id"}]'>
    <a href="#" data-operation="select" name="aSelect">
    <div class="single_material_preview">
        <div>
            <h3 data-content="title" data-format="htmlEncodeFormatter"></h3>
            <h5 data-content="appLastModifyTime" data-format="dateTimeFormatter"></h5>
            <div class="img_material_preview">
                <img data-template-bind='[{"attribute": "src", "value": "coverUrl"}]' />
            </div>
            <h5 data-content="summary" data-format="htmlEncodeFormatter"></h5>
        </div>

    </div>
    <div class="text">
        <div class="inner hidden">
            <i class="icon-check icon-3x"></i>
        </div>
    </div></a>
</li>