<div class="row">
    <div class="col-md-12">
        <div class="mit_preview_container">
            <ul class="ace-thumbnails" data-template-bind='[{"attribute":"id", "value":"id"}]'>

            </ul>
        </div>
    </div>
    <div class="text">
        <div class="inner">
            <a href="#" name="aEditMultipleMaterial">
                <i class="icon-pencil icon-2x"></i></a>
            &nbsp;
            <a href="#" name="aDeleteMultipleMaterial">
                <i class="icon-trash icon-2x"></i></a>
        </div>
    </div>
</div>
<div class="space"></div>
