<a class="menu-toggler" id="menu-toggler" href="#"> <span class="menu-text"></span> </a>
<div class="sidebar" id="sidebar">
    <!-- #sidebar-shortcuts -->
    <ul class="nav nav-list">
        <li name="M_BASE" class="hidden">
            <a href="#" class="dropdown-toggle"> <i class="icon-edit"></i> <span class="menu-text">素材库 </span> <b
                    class="arrow icon-angle-down"></b> </a>

            <ul class="submenu">
                <li id="textList">
                    <a href="TextList.html"> <i class="icon-double-angle-right"></i> 文本信息 </a>
                </li>
                <li id="singleImageText">
                    <a href="SingleImageText.html"> <i class="icon-double-angle-right"></i> 单图文信息 </a>
                </li>
                <li id="multipleImageText">
                    <a href="MultipleImageText.html"> <i class="icon-double-angle-right"></i> 多图文信息 </a>
                </li>
                <li id="pictureList">
                    <a href="PictureList.html"> <i class="icon-double-angle-right"></i> 图片 </a>
                </li>
                <!--<li id="audioList">-->
                <!--<a href="AudioList.html"> <i class="icon-double-angle-right"></i> 音频 </a>-->
                <!--</li>-->
                <!--<li id="videoList">-->
                <!--<a href="VideoList.html"> <i class="icon-double-angle-right"></i> 视频 </a>-->
                <!--</li>-->
            </ul>
        </li>

        <li name="M_BASE" class="hidden">
            <a href="#" class="dropdown-toggle"> <i class="icon-inbox"></i> <span class="menu-text">基础功能</span> <b
                    class="arrow icon-angle-down"></b> </a>

            <ul class="submenu">
                <li id="followReply">
                    <a href="FollowReply.html"> <i class="icon-double-angle-right"></i> 关注回复 </a>
                </li>
                <li id="keywordReply">
                    <a href="KeywordReply.html"> <i class="icon-double-angle-right"></i> 关键词回复 </a>
                </li>
                <li id="autoReply">
                    <a href="AutoReply.html"> <i class="icon-double-angle-right"></i> 消息自动回复 </a>
                </li>
                <!--<li>
                    <a href="CustomMenuList.html" > <i class="icon-double-angle-right"></i> 自定义菜单 </a>
                </li>-->

            </ul>
        </li>

        <li name="M_SITE" class="hidden">
            <a href="#" class="dropdown-toggle"> <i class="icon-home"></i> <span class="menu-text"> 移动官网 </span> <b
                    class="arrow icon-angle-down"></b> </a>

            <ul class="submenu">
                <li id="mwsEntry">
                    <a href="MwsEntry.html"> <i class="icon-double-angle-right"></i> 入口消息设置 </a>
                </li>
                <li id="mwsIndex">
                    <a href="MwsIndex.html"> <i class="icon-double-angle-right"></i> 官网首页设置 </a>
                </li>
                <li id="mwsCategoryTemplate">
                    <a href="MwsCategoryTemplate.html"> <i class="icon-double-angle-right"></i> 列表模板设置 </a>
                </li>

                <li id="mwsContentTemplate">
                    <a href="MwsContentTemplate.html"> <i class="icon-double-angle-right"></i> 文章模板设置 </a>
                </li>
            </ul>
        </li>

        <li name="M_SHOP" class="hidden">
            <a href="#" class="dropdown-toggle"> <i class="icon-shopping-cart"></i> <span
                    class="menu-text"> 在线商城 </span> <b class="arrow icon-angle-down"></b> </a>

            <ul class="submenu">
                <li id="shopEntry">
                    <a href="{v2ContextPath}/index.html#/{wxAccountId}/shop/entry"> <i
                            class="icon-double-angle-right"></i> 入口消息设置 </a>
                </li>

                <li id="shopSetting">
                    <a href="{v2ContextPath}/index.html#/{wxAccountId}/shop/setting"> <i
                            class="icon-double-angle-right"></i> 商城设置 </a>
                </li>

                <li id="shopCategory">
                    <a href="{v2ContextPath}/index.html#/{wxAccountId}/shop/category"> <i
                            class="icon-double-angle-right"></i> 商品管理 </a>
                </li>

                <li id="shopOrder">
                    <a href="{v2ContextPath}/index.html#/{wxAccountId}/shop/order"> <i
                            class="icon-double-angle-right"></i> 订单管理 </a>
                </li>
            </ul>
        </li>
        <li name="M_ALBUM" class="hidden">
            <a href="#" class="dropdown-toggle"> <i class="icon-picture"></i> <span
                    class="menu-text"> 相册 </span> <b class="arrow icon-angle-down"></b> </a>
            <ul class="submenu">
                <li id="albumEntry">
                    <a href="{v2ContextPath}/index.html#/{wxAccountId}/album/entry"> <i
                            class="icon-double-angle-right"></i> 入口消息设置 </a>
                </li>
                <li id="albumSetting">
                    <a href="{v2ContextPath}/index.html#/{wxAccountId}/album"> <i class="icon-double-angle-right"></i>
                        相册设置 </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
</div>