<tr>
	<td data-content="name"></td>
	<td class="hidden-480" data-content="url"></td>
	<td class="hidden-480" data-content="token"></td>
	<td class="hidden-480" data-content="email"></td>
	<td data-content="contactName"></td>
	<td>
	<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
		<button class="edit   btn btn-xs btn-info " data-alt="id"  >
			<i class="icon-edit bigger-120"></i>
		</button>
		<button class="delet btn-xs btn-danger " data-alt="id" >
			<i class="icon-trash bigger-120"></i>
		</button>
		<button class="update btn-xs btn-danger " data-alt="id" >
			重设TOKEN
		</button>
	</div></td>
</tr>