<body>
	{{#each articles}}
	<div class="category_item_col_1">
		<a href="Content.html?site={{wlsWxAccountId}}&id={{id}}">
		<div class="wltpl_font_32 category_item_col_2 pull-left">
			<div class="wltpl_font_ratio categroy_shadow">
				  <div class="cover">
                     <div class="Picimg_material_preview"  wltpl_data='{"ratio":0.97}' ><img src="{{coverUrl}}" ><span></span></div>
                  </div>
				<div class="text_overflow category_padding category_padding_bottom">
					{{title}}
				</div>
				
			</div>
		</div> 
		</a>
	</div>
	{{/each}}

</body>
